# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.env
.pytest_cache/

# Streamlit
.streamlit/credentials.toml

# Project Specific
Uploaded_Resumes/
data.csv
